<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>ADMIN SITE</h1>

    <h3 th:if="${error}" th:text="${'USER NOT FOUND'}"></h3>
    <h3 th:if="${changed}" th:text="${'User roles changed'}"></h3>

    <fieldset>
        <legend th:text="${'User search:'}"/>
            <form th:action="@{/admin/searchUser}" method="post">
                Email:<input th:name="userEmail" type="email"/><br/>
                            <input type="submit" th:value="SEARCH"/>
            </form>
    </fieldset>

    <form th:if="${foundUser}" method="post" th:action="@{/admin/changeRoles}">
        <h3 th:text="'Choose role for user with email ' + ${foundUser.email} + ' :'"></h3>
        <input type="hidden" th:name="${'user'}" th:value="${foundUser.id}"/>

        <p th:each="role : ${roles}">
            <input type="checkbox"
                   name="allRoles"
                   th:checked="${#sets.contains(foundUser.roles, role)}"
                   th:text="${role.name}"
                   th:value="${role.id}"/>
        </p>
        <input type="submit" th:value="${'ADD ROLES'}"/>
    </form>

</body>
</html>